/* Styles for Gallery and Exhibition page */
.post{
margin-left:30px !important;
}
.navbar-default {
background-color: transparent !important;
border-color: transparent !important;
}
.post_img{
margin-left:10px !important;
}
.container-fluid > .sidebar {position: relative;top: 0;left:auto;width: 220px;}
.left {float:left;}
.right {
float: right;
position: absolute;
right: 90px;
}
.container-fluid > .content {
margin: 0 240px; /* width of sidebars + 10px of margin */
}
.fixed-fluid {
margin-left: 240px;
}
.fluid-fixed {
margin-right: 240px;
margin-left:auto !important;
}
.fixed-fixed {
margin: 0 240px;
}
.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: transparent !important;
outline: none; 
}
a:visited, a:link{
outline: none;
}

body {
//font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 12px;
line-height: 1.42857143;
color: #333;
background-color: #fff;
}
.nav>li>a:hover, .nav>li>a:focus,a {
    text-decoration: none;
    background-color:transparent !important; 
    color: #000 !important;
}
/*gallery_page**/
.container-fluid {
padding-left: 0px; 

}
.img-responsive:hover{

opacity: 1; 
/*filter: alpha(opacity=30); */

}
.modal-content{
border-radius: 0px;
width:auto;
-webkit-box-shadow: 0px 0px 0px transparent;
margin-top:60px;
background-color:transparent;
box-shadow: 0px 0px 0px transparent;
border: 0px solid transparent;
}
.modal-header {
min-height: 16.429px;
color: #FFF;
padding: 15px;
border-bottom: 0px solid #E5E5E5;
}
.close{
color:#fff;
font-size:30px;
opacity:1;
font-family:'tradegothic';
margin-top:-15px;
}
.modal-dialog{
/*width:800px;*/
}
.popover {
	background-color: transparent;
}

.popover-content{ 
	width: 520px;
height: 130px;
color: #fff;
background-color: #000;
border-radius: 0px;
position:fixed;			
padding-top:10px;
overflow:auto;
top:454px;
left: 249px !important;
right: 200px !important;
}
.thumbnail {
border-radius:0px;
border:0px;
}
.popover>.arrow, .popover>.arrow:after{
border-style:none !important;
}
.popover fade top in {
top: 200px !important;
left: 0px!important;
display: block;
}
.popover.top{
	
}
ul, ol {
margin-top: 8px;
margin-bottom: 7px;
}
/*.navbar navbar-default navbar-fixed-bottom{
max-height:20px;
}
.img-responsive:hover {
		-webkit-filter: grayscale(60%);
filter: alpha(opacity=30); 
		

}*/
			
div.thumbnail-text:hover{
opacity: 0.8;
background-color: #000;
color:#fff !important;

}
  			
  		
b:hover{
text-decoration: none;
background-color:transparent !important; 
color: #000 !important;
outline: none; 
}
b:focus{
outline: none; 
}
df:hover{
text-decoration: underline;
cursor:pointer;
}
.logo-text{
margin-top:20px;
text-transform:uppercase;
font-size:30px;
font-family:'tradegothicbold',Arial,sans-serif;
line-height:23px;
position:fixed;
margin-left:5px;
}
.a-hg{font-size:30px;}
.modal-textrow{margin-right:0px;margin-left:0px;}
.modal-backdrop {background-color: #000;opacity:0.8 !important;}
.leftnv {width: 273px;padding-right:0;padding-left: 33px;z-index: 1;margin-top: 94px;text-align: left;font-family: Arial;   position: fixed;   line-height: 1px;   text-transform: uppercase;}

.gallerycontainer {min-height: 200px;width: 100%;position: relative;left: 0;top: 0;padding-left: 265px;margin-top:74px;}
.img-list {width: 250px;float:left;height:250px;}
.img-list a.gallery-bx {width:100%;display:block;padding: 3%;}
.img-list a.gallery-bx img {width: 100%;}
.thumbnail {margin-bottom:10px;}
.al-next {position:absolute;right:10px;top:50%;width:20px;display:block;height:100px;z-index:111;}
.al-prev {position:absolute;left:10px;top:50%;width:20px;display:block;height:100px;z-index:111;}
.al-next img, .al-prev img {width:100%;}

@media (max-width: 767px) {
	.leftnv {position:static;margin-top:10px;}
	.gallerycontainer {position:static;clear:both;padding-left:25px;margin-top:20px;}
	#page-wrap {margin-left:15px !important;margin-top: 270px !important;}
	#page-wrap table td img {max-height:300px !important;}
	.leftnavpost {position:fixed;}
	.left.text-muted {margin-left:35px !important;}
	.logoinside > li {position:static !important;}
}